#btn{
    padding: 10px 20px ;
    background-color: rgb(235, 147, 16);
    border-radius: 15px;
    border: none;
    width: 60%;
    font-style: italic;
    text-align: center;
     letter-spacing: 10px;
   display: inline-block;
    
}
#sec1{
    padding-top: 4rem;
    text-align: center;
}